<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CognizantChallenge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/layout.css"/>
    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="stylesheet" href="~/css/top-users.css"/>
</head>
<body>
<header>
    <nav class="navbar-menu">
        <div class="container">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <button class="btn btn-primary" asp-area="" asp-controller="Home" onclick="window.location='/'">SOLVE</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" asp-area="" asp-controller="Home" onclick="window.location='/Home/TopUsers'">TOP 3</button>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted"></footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers